src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	  xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
	  xmlns:batch="http://www.mulesoft.org/schema/mule/batch" 
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="EE-3.7.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <batch:job name="syncAccountsBatch">
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:input>
            <dw:transform-message doc:name="Convert SAP response to Salesforce Account">
                <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.BAPI_CUSTOMER_GETLIST.tables.ADDRESSDATA map
{
	//removed single quote as the Salesforce query will then crash
	Name : $.NAME replace /(\')/ with " ",
	BillingCity : $.CITY,
	BillingCountry : $.COUNTRY,
	BillingPostalCode : $.POSTL_COD1,
	BillingStreet : $.STREET,
	Phone : $.TEL1_NUMBR
}]]></dw:set-payload>
            </dw:transform-message>

        </batch:input>
        <batch:process-records>
            <batch:step name="foreachUserFetchSalesforceStep">

                <enricher source="#[payload == null ? null : payload.Id]" target="#[payload.Id]" doc:name="set Id from matching account">
                    <sfdc:query-single config-ref="Salesforce" query="SELECT Id FROM Account WHERE Name = '#[payload.Name]'" doc:name="Query Salesforce for current Account"/>
                </enricher>
            </batch:step>
              
            <batch:step name="createAccountsInSalesforceStep" accept-expression="payload !=null">


                <batch:commit size="200" doc:name="Batch Commit">
                    <sfdc:upsert config-ref="Salesforce" externalIdFieldName="Id" type="Account" doc:name="Upsert accounts in Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:upsert>
                    <logger message="#[payload]" level="INFO" doc:name="Log response"/>
                </batch:commit>
            </batch:step>                  
        </batch:process-records>
        <batch:on-complete>
            <scatter-gather doc:name="All">
                <processor-chain>
            		<json:object-to-json-transformer doc:name="Transform BatchJobInstance to JSON"/>
            		<logger message="Migration process has finished: #[payload]" level="INFO" doc:name="Log 'Migration process has finished'"/>
                </processor-chain>
				<processor-chain>
                	<parse-template location="./src/main/resources/email/body.html"
						doc:name="Parse Template" />
					<smtp:outbound-endpoint host="${smtp.host}" port="${smtp.port}" user="${smtp.user}" password="${smtp.password}" to="${mail.to}" from="${mail.from}" subject="${mail.subject}" responseTimeout="10000" connector-ref="gmailConnector" doc:name="Send mail"/>
				</processor-chain>
            </scatter-gather>            
        </batch:on-complete>
    </batch:job>

    <flow name="mainFlow"  doc:description="This flow is the entry point to the Kick business logic.

This flow should control the direction of the application, and it should be called by the different endpoints that your Template exposes to trigger it.

">
        <batch:execute name="syncAccountsBatch" doc:name="Execute syncAccountsBatch"/>

        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
